.main-container {
  background-color: black;
  min-height: 50px;
}

.inner-container .item {
  padding-top: 10px;
}
.inner-container .item .link {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.home-header-inner-container .item .link {
  color: #5474ab;
  text-decoration: none;
  font-size: 2rem;
}
